{% extends "Gestion/fathertemplate.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/5434/5434480.png">
    <title>Gestión de inventario</title>
</head>
<body>
    {% block content %}
    <h1><strong>PRODUCTOS</strong></h1>
    <div>
      {% if "producto_guardado" in request.GET %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert" >
        <strong>Producto Guardado correctamente</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% if "producto_actualizado" in request.GET %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert" >
        <strong>Producto actualizado correctamente</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      {% if "producto_eliminado" in request.GET %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert" >
        <strong>Producto eliminado correctamente</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
    </div>
    <a class="b-agregar" href="{% url 'add' %}" style="text-decoration: none; float: left;">Nuevo +</a>
    <div class="dropdown" style="float: right;margin-right: 1rem;">
      <a class=" b-agregar btn btn-secondary dropdown-toggle" style="border-radius: 0%; margin-bottom: 1rem; " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filtros
      </a>
    
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'categoria' %}">Categoria</a></li>
        <li><a class="dropdown-item" href="{% url 'precio' %}">Precio</a></li>
        <li><a class="dropdown-item" href="{% url 'tiempo' %}">Tiempo</a></li>
      </ul>
    </div>
    <table>
        <tr>
          <th>ID</th>
          <th>Producto</th>
          <th>Categoría</th>
          <th>Precio de venta</th>
          <th>Cantidad</th>
          <th>Codigo de costo</th>
          <th>Editar o ver</th>
          <th>Eliminar</th>
        </tr>
        {% if data %}
          {% for data in data %}
          <tr>
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            {% for ctg in data.categoria.all %}
            <td>{{ctg.name}}</td>
            {% endfor %}
            <td>{{data.price}}</td>
            <td>{{data.cantidad}}</td>
            <td>{{data.codigo_costo}}</td>
            <td><a href="{% url 'editar' data.id %}" class = 'check'>☑</a></td>
            <td><a href="{% url 'eliminar' data.id %}" class = 'wrong'>☒</a></td>
          </tr>
          {% endfor %}

        {% else %}
          <tr>
            <td><strong >NO HAY PRODUCTOS</strong></td>
          </tr>
        {% endif %}
      </table>
      {% endblock %}
</body>
</html>