body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: snow;
}


#menu{
    background-color: #48aac3;    
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo{
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(43, 14, 6, 0.89);
    animation: parpadeo 1s ease-in-out;

}

@keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

#search{
    display: flex;
    align-items: center;
}


#search input[type="text"]{
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-right: 10px;
}

#search button{
    background-color: white;
    border: none;
    border-radius: 3px;
    color: #333;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

#search button:hover{
    background-color: #beb2b2;
}

#logo{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: snow;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    padding-top: 15px;
    padding-left: 15px;
    text-align: center;
    text-shadow: 2px 2px 2px #45beea(206,89,55,0.83);
}

.b-agregar{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: cell;
    margin-left: 15px;
}

.b-agregar:hover{
    background-color: #555;
}

table{
    border-collapse: collapse;
    width: 98%;
    margin-left: 15px;
    margin-top: 15px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);

  
}

th, td {
    text-align: justify;
    padding: 10px;
}

th {
    background-color:rgba(211, 203, 203, 0.904);
}
  
.check {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.wrong{
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
  
.check:hover {
    background-color: #3e8e41;
}


.wrong:hover{
    background-color: rgb(147, 8, 8);
}

tr:nth-child(even) {
    background-color: #efebeb;
}